$lemon-soda: (
  old-sunlight: rgb(248,255,115),
  lemon: rgb(211,218,93),
  end-of-the-day: rgb(243,247,151),
  mezz: rgb(255,145,77),
  nail-polished-leaves: rgb(255,187,77)
);

$material-light-blue: (
  50:  #e1f5fe,
  500: #03a9f4,
  900: #01579b
);