@charset 'UTF-8';
@import 'compass';
@import 'breakpoint';
@import 'susy';

$susy: (
  column-width: 24px,
  columns: 48,
  gutters: 1/2,
  math: static,
  container-position: center,
  gutter-position: split,
  global-box-sizing: content-box,
  debug: (
    image: show,
    color: rgba(255,0,0,.25),
    output: overlay,
    toggle: top right
  )
);
      
$rhythm-unit: 'rem';
$rem-with-px-fallback: true;
$base-font-size: 16px;
$base-line-height: 24px;

$default-transition-duration: .25s;
$default-transition-function: ease;

$default-box-shadow-h-offset: 0;
$default-box-shadow-v-offset: 1px;
$default-box-shadow-blur: 3px;

$default-text-shadow-h-offset: $default-box-shadow-h-offset;
$default-text-shadow-v-offset: $default-box-shadow-v-offset;
$default-text-shadow-blur: $default-box-shadow-blur;