@import 'init'
@import 'reset'

@import 'partials/widgets/*'
@import 'partials/layouts/*'

body
  color: map-get($init, color)
  background:
    color: map-get($init, background-color)
    image: url(../img/photography.transparentize/photography.png)

#wrapper
  position: relative
  min-height: 100%
  min-height: 100vh

#header
  +header

#main
  &
    position: relative
    +padding-leader( map-get($header,height) )
  #about
    +layout_about
  +layout_with_sidebar
  #home_slide_wrapper
    +layout_home_top
  #home
    +layout_home_body
  #author
    +layout_author
  #single
    +layout_single
  #archive_header
    +layout_archive_top
  #archive_main
    +layout_archive_body
  #gallery
    +layout_gallery

#footer
  +footer