=layout_about
  +layout_about_breakpoint
  &
    margin-top: -( rhythm( map-get($header,height) ) )
  #about_whats
    position: relative
    >.background
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      opacity: .35
      iframe
        width: 100%
        height: 100%
    .main
      position: relative
      .content
        .text
          +text-style-size
          +text-style-color
          +text-style-decoration
          +text-style-whitespace
          text-align: center
          .circle_image
            +circle-image-sizing(8)
            margin: 0 auto
            +trailer(1)
  #about_widgets
    
        

=layout_about_breakpoint
  $container-span: (susy-get(columns) / 2)
  #about_whats
    $whats: map-get($layout-about,whats)
    .main
      .content
        $leader: map-get($whats, leader)
        $trailer: map-get($whats, trailer)
        +padding-leader($leader)
        +padding-trailer($trailer)
        +container($container-span)
  #about_widgets
    $widgets: map-get($layout-about,widgets)
    $leader: map-get($widgets, leader)
    $trailer: map-get($widgets, trailer)
    +padding-leader($leader)
    +padding-trailer($trailer)
    .widget_item
      $leader: map-get($widgets, leader)
      $trailer: map-get($widgets, trailer)
      +leader($leader)
      +trailer($trailer)
      >.container
        +container($container-span)
    .widget__s_writers_icon_widget
      .items
        +container($container-span)
        .item
          $item-span: $container-span / 2
          +span($item-span)