=layout_archive_top
  +layout_archive_top_breakpoint
  margin-top: -( rhythm( map-get($header,height) ) )
  $map: map-get($layout_archive, header)
  +text-style-size(true)
  +text-style-color(true)
  +text-style-decoration(true)
  position: relative
  .background
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-position: center center
    img
      display: none
    &[no-image]
      background:
        color: map-get($lemon-soda, nail-polished-leaves)
    &:not([no-image])
      +background-size(cover)
  .main
    position: relative
    >.container
      +padding-leader( map-get($map, leader) )
      +padding-trailer( map-get($map, trailer) )

=layout_archive_top_breakpoint
  .main
    >.container
      +container

=layout_archive_body
  +layout_archive_body_breakpoint
  >.container
    .post
      +article-card

=layout_archive_body_breakpoint
  $columns: susy-get(columns) - map-get($layout-with-sidebar,right-span)
  >.container
    +container($columns)
    .post
      $card-span: ( $columns / 3 )
      +article-card-sizing($card-span)