=layout_with_sidebar
  +layout_with_sidebar_breakpoint
  #sidebar_top,
  #with_sidebar,
  #sidebar_left,
  #sidebar_right
    position: relative

=layout_with_sidebar_breakpoint
  #sidebar_top
  #with_sidebar
    +container
    $right-span:  map-get($layout-with-sidebar,right-span)
    $left-span: (susy-get(columns) - $right-span)
    #sidebar_left
      +span($left-span nest)
    #sidebar_right
      +span($right-span nest)