---

---
<?php include 'single.php'; ?>
/
  div#page
    main.container
      <?php while( have_posts() ): the_post(); ?>
        = partial 'partials/wp/template_part/content_page'
        <?php if( comments_open() || '0' != get_comments_number() ): ?>
          = partial 'partials/wp/comments_template'
        <?php endif; ?>
      <?php endwhile; ?>